<!-- ###HTMLMAIL### begin-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEADER>
		<LINK href="###CSS###" rel="stylesheet" media="screen">
		<TITLE>###TITLE###</TITLE>
	</HEADER>
	<BODY>
		<DIV class="newspage">
			<DIV class="pageheader">###IMAGE###</DIV>
			<DIV class="newstitle">###TITLE###</DIV>
			<DIV class="newsdate">###DATE###</DIV>
			<DIV class="newsheader">###NEWSHEADER###</DIV>
			<DIV class="newslist">###NEWSLIST###</DIV>
			<DIV class="newsfooter">###NEWSFOOTER###</DIV>
			<DIV class="profilemsg">###PROFILEMESSAGE###</DIV>
			<DIV class="profilelink">###PROFILELINK###</DIV>
		</DIV>
	</BODY>
</HTML>
<!-- ###HTMLMAIL### end-->



<!-- ###PLAINMAIL### begin-->
###TITLE###
(###DATE###)

###NEWSHEADER###
---------------------------------------------------------------------------
###NEWSLIST###
---------------------------------------------------------------------------
###NEWSFOOTER###
---------------------------------------------------------------------------
###PROFILEMESSAGE###

###PROFILELINK###

<!-- ###PLAINMAIL### end-->

